@charset "UTF-8";
/* Global Styles */

:root {
  --primary-color: #a1caf1;
  --secondary-color: #0080ff;
  --primary-banner-color: #20416c;
  --hover-color: #6c2041;
  --primary-font-color: #111111;
  --secondary-font-color: #f0f0f0;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

html,
body,
h1,
h2,
h3,
ul,
li,
a,
p,
article,
aside,
footer,
header,
main,
nav,
section {
  padding: 0;
  margin: 0;
}

/* Body Structure */
body {
  color: var(--primary-font-color);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: url("milky-way-2750627_1920.jpg") no-repeat center center/cover;
  height: 100vh;
}
/* Header Style */
.banner {
  background-color: var(--secondary-color);
  background: url("banner-1036483_1920.png") no-repeat center center/cover;
  color: var(--secondary-font-color);
  padding: 10px 20px;
  text-align: center;
  font-family: "Times New Roman", Serif;
}

/* Navigation Styles */
nav {
  background-color: var(--primary-banner-color);
  padding: 1rem 0;
  margin-top: 1px;
  text-align: center;
}

nav li {
  display: inline;

  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

nav li {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

nav li:hover {
  background-color: var(--hover-color);
  border-radius: 5px;
}

nav li a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.current {
  background-color: var(--hover-color);
  border-radius: 5px;
  padding: 0.5rem;
}

/* Main Page Structure */

.container {
  max-width: 1000px;
  margin: auto;
  height: 80vh;
}

main {
  width: 600px;
  float: left;
  margin-bottom: 10px;
}
section {
  background-color: var(--secondary-color);
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

article {
  background-color: var(--primary-color);
  margin-top: 5px;
  padding: 10px 15px;
}

aside {
  background-color: var(--primary-color);
  width: 270px;
  float: right;
  padding: 1rem 0.5rem;

  margin-top: 10px;
  text-align: center;
}

aside img {
  width: 100%;
}

footer {
  clear: both;
  background-color: var(--primary-banner-color);
  color: white;
  padding: 5px 20px;
  text-align: center;
}
/* Headings */

/* Forms */

/* Extras */

/* Documentation */
